{% extends 'registration/adminlte/_base.html' %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}{% block title-meta %}
    وبلاگ جنگو
{% endblock %}{% endblock %}
{% block main %}
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title mb-0 float-left">Quick Example</h3>
            </div>
            <div class="card-body">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            {{ form.title|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.slug|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.category|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.thumbnail|as_crispy_field }}
                            {{ form.published|as_crispy_field }}
                        </div>
                        <div class="col-12">
                            {{ form.descriptions|as_crispy_field }}
                        </div>
                        {% if user.is_superuser %}
                            <div class="col-6">
                                {{ form.author|as_crispy_field }}
                            </div>
                            <div class="col-6">
                                {{ form.status|as_crispy_field }}
                            </div>
                        {% else %}
                            <div class="col-6">
                                <label for="id_status" class=" requiredField">
                                    وضعیت انتشار<span class="asteriskField">*</span>
                                </label>
                                <select name="status" class="select form-control" required="" id="id_status">
                                    <option value="" selected="">---------</option>
                                    <option value="d">پیش نویس</option>
                                    <option value="i">ارسال برای بررسی</option>
                                </select>
                            </div>
                        {% endif %}

                        <div class="col-6">
                            {{ form.is_special|as_crispy_field }}
                        </div>
                    </div>
                    <button class="btn btn-success my-4">ارسال مقاله</button>
                    {% if user.is_superuser and request.resolver_match.url_name == 'article_update' %}
                        <a href="{% url 'account:article_delete' article.slug %}" class="btn btn-danger">حذف مقاله</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}