{% extends 'registration/home.html' %}


{% block title %}
    ارسال ایمیل
{% endblock %}
{% block main %}
<div class="col-md-8 text-center mx-auto">
    <!-- general form elements -->
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">ارسال ایمیل بازیابی رمز عبور</h3>
        </div>
        <div class="card-body py-4">
                <p class="text-center py-2">ایمیل با موفقیت ارسال شد</p>
        </div>
    </div>
</div>
{% endblock %}