@font-face {
  font-family: Sahel;
  src: url('../../../blog/css/Sahel.eot');
  src: url('../../../blog/css/Sahel.eot?#iefix') format('embedded-opentype'),
       url('../../../blog/css/Sahel.woff2') format('woff2'),
       url('../../../blog/css/Sahel.woff') format('woff'),
       url('../../../blog/css/Sahel.ttf') format('truetype');
}


body {
    font-family: Sahel !important;
    text-align: right !important;
    direction: rtl !important;
}

.btn-show-pass {
    left: 0;
    right:initial;

}

.error{
    color:red;
    background-color: rgba(253, 131, 131, 0.84);
    font-size:18px;
    padding:20px;
    text-align: center;
}

.error-field{
    color:red;
    background-color: rgba(253, 129, 129, 0.84);
    font-size:18px;
    padding:10px 20px;
    text-align: center;
}