{% extends '_base.html' %}
{% load static %}
{% load comment_tags %}
{% block title %}
    This Is me | {{ article.title }}
{% endblock %}

{% block img %}
    {{ article.thumbnail.url }}
{% endblock %}

{% block body %}
    <header class="masthead" style="background-image:url('{{ article.thumbnail.url }}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>{{ article.title |title }}</h1>

                                {% if article.is_special %}
                                    <span class="badge badge-danger" style="font-size: 14px">
                                        ویژه
                                    </span>
                                {% endif %}
                        <time>{{ article.jalali_published }}</time>

                        {#                        <span class="subheading">A Blog Theme by Start Bootstrap</span>#}
                    </div>
                </div>
            </div>
        </div>
    </header>


    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-12  col-md-10 mx-auto text-justify">
                {% if article.is_special %}
                    {% if user.is_authenticated and user.is_special_user or article.author == user or user.is_superuser %}
                            {{ article.descriptions|safe }}
                    {% else %}
                            {{ article.descriptions|safe|truncatewords:30 }}
                        <p class="alert alert-warning">این مقاله ویژه است و باید برای مشاهده آن <a href="#"  class="alert-link">اشتراک ویژه </a>تهیه کنید. </p>
                    {% endif %}
                    </div>
                {% else %}
                <div class="col-lg-8  col-md-10 mx-auto text-justify">
                    {{ article.descriptions|safe }}
                </div>
                {% endif %}
            </div>
            <div  class="text-justify container">
                {% render_comments article request %}
            </div>
        </div>
    </article>


    {#    <div class="container px-4 px-lg-5">#}
    {#        <div class="row gx-4 gx-lg-5 justify-content-center">#}
                <div class="col-md-10 col-lg-8 col-xl-7 text-justify">
    {#                <!-- Post preview-->#}
    {#                <div class="row">#}
    {#                    <div class="col-lg-10  col-md-10 mx-auto text-justify">{{ article.descriptions|linebreaksbr }}</div>#}
    {#                </div>#}
    {#                    <p class="post-meta">#}
    {#                        {{ article.jalali_published }}#}
    {#                    </p>#}
    {#                <!-- Divider-->#}
    {#                <hr class="my-4"/>#}
    {##}
    {#                <!-- Pager-->#}
                    <div class="d-flex justify-content-end mb-4 my-4"><a class="btn btn-primary text-uppercase" href="{% url 'blog:home' %}"> → صفحه اصلی </a></div>
                </div>
    {#        </div>#}
    {#    </div>#}
{% include_static %}
{% include_bootstrap %}

{% endblock %}