{% extends '_base.html' %}
{% load my_tags %}
{% load my_tags %}

{% load static %}

{% block body %}
    <header class="masthead" style="background-image:url('{% static 'blog/assets/img/home-bg.jpg' %}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>This is <b>{% ME %}</b></h1>
                        {#                        <span class="subheading">A Blog Theme by Start Bootstrap</span>#}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">

            {% block header %}  {% endblock %}

            <div class="col-md-10 col-lg-8 col-xl-7">
                {% for article in articles %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{% url 'blog:article_detail' article.slug %}">
                            <h2 class="post-title">{{ article.title|safe }}</h2>
                        </a>
                        <h4 class="post-subtitle">{{ article.descriptions|truncatewords:10|striptags }}</h4>
                        {% for cate in article.category.all %}
                            <a href="{% url 'blog:category' cate.slug %}"># {{ cate.title }}</a>
                        {% endfor %}


                        <p class="post-meta">
                            {{ article.jalali_published }}
                            {% if article.author %}
                                , نوشته شده توسط
                                <a href="{% url 'blog:author' article.author %}">{{ article.author.get_full_name }}</a>
                            {% endif %}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4"/>


                    <!-- Pager-->

                {% endfor %}

                <div class="d-flex justify-content-end mb-4 ">
                    {% if page_obj.has_next %}
                        <a class="btn btn-primary text-uppercase "
                           href="{% block next_page_url %}{% endblock %}">→ پست های قدیمی </a>
                    {% endif %}

                    {% if page_obj.has_previous %}
                        <a class="btn btn-primary text-uppercase  me-lg-3"
                           href="{% block previous_page_url %}{% endblock %}">
                            &larr; پست های جدید </a>
                    {% endif %}

                </div>


            </div>
        </div>
    </div>
{% endblock %}



